In [2]:
# opening m dataset using pandas
import pandas as pd

# reading the dataset
delhi_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/New Delhi_top_15_places_dataset.csv')
agra_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Agra_top_15_places_dataset.csv')
bengaluru_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Bengaluru_top_15_places_dataset.csv')
chennai_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Chennai_top_15_places_dataset.csv')
hyderabad_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Hyderabad_top_15_places_dataset.csv')
jaipur_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Jaipur_top_15_places_dataset.csv')
kolkata_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Kolkata_top_15_places_dataset.csv')
mumbai_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Mumbai_top_15_places_dataset.csv')
pune_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Pune_top_15_places_dataset.csv')
udaipur_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/Udaipur_top_15_places_dataset.csv')

In [3]:
# getting the unique places from the dataset
delhi_places = delhi_data['Place'].unique()
agra_places = agra_data['Place'].unique()
bengaluru_places = bengaluru_data['Place'].unique()
chennai_places = chennai_data['Place'].unique()
hyderabad_places = hyderabad_data['Place'].unique()
jaipur_places = jaipur_data['Place'].unique()
kolkata_places = kolkata_data['Place'].unique()
mumbai_places = mumbai_data['Place'].unique()
pune_places = pune_data['Place'].unique()
udaipur_places = udaipur_data['Place'].unique()

In [4]:
# adding the unique places to a list
places = []
for place in delhi_places:
    places.append(place)
for place in agra_places:
    places.append(place)
for place in bengaluru_places:
    places.append(place)
for place in chennai_places:
    places.append(place)
for place in hyderabad_places:
    places.append(place)
for place in jaipur_places:
    places.append(place)
for place in kolkata_places:
    places.append(place)
for place in mumbai_places:
    places.append(place)
for place in pune_places:
    places.append(place)
for place in udaipur_places:
    places.append(place)

In [5]:
# printing the unique places
print(places)

['Chandni Chowk', 'Connaught Place', 'Delhi Airport Metro Express', 'Friday Mosque (Jama Masjid)', 'Gurudwara Bangla Sahib', 'Hauz Khas Village', "Humayun's Tomb", 'India Gate', 'ISKCON Temple Delhi', 'Lodhi Garden', 'Lotus Temple', 'Qutub Minar', 'Rashtrapati Bhavan', 'Red Fort (Lal Quila)', 'Swaminarayan Akshardham', 'Agra Fort', 'Anguri Bagh', 'Dayal Bagh', 'Diwan-i-Am Agra Fort', 'Jahangir Mahal', 'Jama Masjid', 'Jawab Masjid', 'Kalakriti Cultural & Convention Center', 'Mehtab Bagh', "Mother Teresa's Missionaries of Charity", 'Sheesh Mahal', 'Taj Mahal', 'Taj Museum', 'Tomb of Itimad-ud-Daulah', 'Wildlife SOS', 'Art of Living International Center', 'Bangalore Palace', 'Bannerghatta National Park', 'Commercial Street', 'Cubbon Park', 'Innovative Film City', 'ISKCON Temple Bangalore', 'Lalbagh Botanical Garden', 'Mahatma Gandhi (MG) Road', 'Phoenix Marketcity', 'Tipu Sultan Fort and Palace - Bangalore KR Market', 'UB City', 'Vidhana Soudha and Attara Kacheri', 'Visvesvaraya Industrial and Technological Museum', 'Wonderla Amusement Park', 'Arignar Anna Zoological Park', 'Besant Nagar Beach', 'Chennai Central Railway Station', "Elliot's Beach", 'Express Avenue Mall', 'Kapaleeshwarar Temple', 'Marina Beach', 'Mylapore', 'Parthasarathy Temple', 'San Thome Church', 'T Nagar, Ranganathan Street', 'The Forum Vijaya Mall', 'Vadapalani Murugan Temple', 'VGP Snow Kingdom', 'VGP Universal Kingdom', 'Birla Mandir', 'Buddha Statue', 'Charminar', 'Chilkur Balaji Temple', 'Chowmahalla Palace', 'Golconda Fort', 'Hussain Sagar Lake', 'Lumbini Park', 'Nehru Zoological Park', 'Ramoji Film City', 'Salar Jung Museum', 'Shilparamam Cultural Society', 'Shri Jagannath Temple', 'Taj Falaknuma Palace', 'Wonderla Amusement Park', 'Albert Hall Museum', 'Amer jeep Safari', 'Anokhi Museum of Hand Printing', 'Birla Mandir Temple', 'City Palace of Jaipur', 'Govind Devji Temple', 'Hawa Mahal - Palace of Wind', 'Jaigarh Fort', 'Jal Mahal', 'Jantar Mantar - Jaipur', 'Make Bike Trip', 'Monkey Temple', 'Moti Dungari Temple', 'Nahargarh Fort', 'Panna Meena ka Kund', 'College Street (Boi Para)', 'Dakshineswar Kali Temple', 'Eco Tourism Park', 'Eden Gardens', 'Howrah Bridge', 'Indian Museum (Jadu Ghar)', 'Kalighat Kali Temple', 'Metro Railway', 'Mother House', 'New Market', 'Nicco Parks & Resorts Limited', 'Park Street', 'Prinsep Ghat', 'Science City', 'Victoria Memorial Hall', 'Bandra-Worli Sea Link', 'Chhatrapati Shivaji Terminus', 'Colaba', 'Elephanta Caves', 'Essel World', 'Gateway of India', 'Juhu Beach', 'KidZania Mumbai', 'Mani Bhavan Gandhi Museum', 'Marine Drive', 'Mount Mary Basilica', 'Nariman Point', 'Shree Siddhivinayak', 'Sri Sri Radha Gopinath Temple', 'Water Kingdom', 'Aga Khan Palace', 'Chaturshrungi Temple', 'Dagadusheth Halwai Ganapati Temple', 'Darshan Museum', 'ISKCON NVCC Temple', 'Laxmi Road', 'Malshej Ghats', 'Phoenix Market City', 'Pune Okayama Friendship Garden', 'Raja Dinkar Kelkar Museum', 'Rajiv Gandhi Zoological Park', 'Sarasbaug Ganpati Temple', 'Shaniwar Wada', 'Sinhagad Fort', 'Sri Balaji Mandir', 'Bagore Ki Haveli Museum', 'Chetak Smarak', 'City Palace Museum', 'City Palace of Udaipur', 'Crystal Gallery', 'Ekling Ji Temple', 'Jagdish Temple', 'Jagmandir', 'Lake Pichola', 'Maharana Pratap Memorial', 'Monsoon Palace', 'Sahelion Ki Bari', 'Shilpgram', 'Srinathji Temple', 'Vintage Collection of Classic Cars Museum']

In [7]:
delhi_data.head()

# drop the columns called 'Wheelchair Accessibility', 'Visual Impairments', 'Hearing Impairments', 'Mobility Impairments'
delhi_data = delhi_data.drop(['Wheelchair Accessibility', 'Visual Impairments', 'Hearing Impairments', 'Mobility Impairments'], axis=1)

In [8]:
delhi_data.head()

,City,Place,Review,Rating,Name,Date,Raw_Review
0,New Delhi,Chandni Chowk,dusty crowded chaotic great walk ride rickshaw...,3,Anonymous,NaN,"Dusty, crowded and chaotic, it's great to have..."
1,New Delhi,Chandni Chowk,times obviously place real india struggle dail...,2,Anonymous,NaN,"I have been there 4 times, obviously I just ca..."
2,New Delhi,Chandni Chowk,came chandi chowk mend late fathers old automa...,5,Anonymous,NaN,I came to Chandi Chowk to find somewhere to me...
3,New Delhi,Chandni Chowk,day delhi missed got tuc tuc red fort headed m...,2,Anonymous,NaN,We only had 1 day in Delhi but this was not to...
4,New Delhi,Chandni Chowk,wish experience old delhi charm mad rush peopl...,4,Anonymous,NaN,BE there if you wish to experience the old Del...

In [9]:
# removing the columns called 'Rating', 'Name', 'Date, 'Raw_Review' from all the datasets
delhi_data = delhi_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
agra_data = agra_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
bengaluru_data = bengaluru_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
chennai_data = chennai_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
hyderabad_data = hyderabad_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
jaipur_data = jaipur_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
kolkata_data = kolkata_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
mumbai_data = mumbai_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
pune_data = pune_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)
udaipur_data = udaipur_data.drop(['Rating', 'Name', 'Date', 'Raw_Review'], axis=1)

In [10]:
# concatenating all the reviews belonging to the same place in all datasets
delhi_data = delhi_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
agra_data = agra_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
bengaluru_data = bengaluru_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
chennai_data = chennai_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
hyderabad_data = hyderabad_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
jaipur_data = jaipur_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
kolkata_data = kolkata_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
mumbai_data = mumbai_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
pune_data = pune_data.groupby('Place').agg({'Review': ' '.join}).reset_index()
udaipur_data = udaipur_data.groupby('Place').agg({'Review': ' '.join}).reset_index()

In [11]:
delhi_data.head()

,Place,Review
0,Chandni Chowk,dusty crowded chaotic great walk ride rickshaw...
1,Connaught Place,area good lot eateries available weekends plac...
2,Delhi Airport Metro Express,convenient journey airport city center option ...
3,Friday Mosque (Jama Masjid),review little unfair visited ramadan want insi...
4,Gurudwara Bangla Sahib,delhi way miss visiting place serene magnifice...

In [12]:
# making a daaset with 'City', 'Place', 'Review'
delhi_data['City'] = 'Delhi'
agra_data['City'] = 'Agra'
bengaluru_data['City'] = 'Bengaluru'
chennai_data['City'] = 'Chennai'
hyderabad_data['City'] = 'Hyderabad'
jaipur_data['City'] = 'Jaipur'
kolkata_data['City'] = 'Kolkata'
mumbai_data['City'] = 'Mumbai'
pune_data['City'] = 'Pune'
udaipur_data['City'] = 'Udaipur'

In [13]:
delhi_data.head()

,Place,Review,City
0,Chandni Chowk,dusty crowded chaotic great walk ride rickshaw...,Delhi
1,Connaught Place,area good lot eateries available weekends plac...,Delhi
2,Delhi Airport Metro Express,convenient journey airport city center option ...,Delhi
3,Friday Mosque (Jama Masjid),review little unfair visited ramadan want insi...,Delhi
4,Gurudwara Bangla Sahib,delhi way miss visiting place serene magnifice...,Delhi

In [15]:
# combining all the datasets into one
final_data = pd.concat([delhi_data, agra_data, bengaluru_data, chennai_data, hyderabad_data, jaipur_data, kolkata_data, mumbai_data, pune_data, udaipur_data])

# puttting the columns in the order 'City', 'Place', 'Review'
final_data = final_data[['City', 'Place', 'Review']]

In [17]:
final_data.head()

,City,Place,Review
0,Delhi,Chandni Chowk,dusty crowded chaotic great walk ride rickshaw...
1,Delhi,Connaught Place,area good lot eateries available weekends plac...
2,Delhi,Delhi Airport Metro Express,convenient journey airport city center option ...
3,Delhi,Friday Mosque (Jama Masjid),review little unfair visited ramadan want insi...
4,Delhi,Gurudwara Bangla Sahib,delhi way miss visiting place serene magnifice...

In [16]:
# saving the final dataset
final_data.to_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/combined_review_dataset.csv', index=False)

In [19]:
# make a csv withou the 'Review' column as well
final_data_without_reviews = final_data.drop(['Review'], axis=1)
final_data_without_reviews.to_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Dataset2/review_dataset/combined_review_dataset_without_reviews.csv', index=False)

In [28]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Function to extract the top n words from a document based on TF-IDF
def extract_top_n_words(row, tfidf_vectorizer, n=100):
    # Transform the document to TF-IDF vector
    tfidf_vector = tfidf_vectorizer.transform([row])
    # Get the feature names and tf-idf scores
    feature_names = tfidf_vectorizer.get_feature_names_out()
    sorted_items = sorted(zip(tfidf_vector.toarray().flatten(), feature_names), reverse=True)
    # Get top n words
    top_words = [word for _, word in sorted_items[:n]]
    return ' '.join(top_words)

# Create TF-IDF vectorizer
vectorizer = TfidfVectorizer(max_features=1000)  # Considering the top 500 features
vectorizer.fit(final_data['Review'])

# Extract top words for each review
final_data['Relevant Review'] = final_data['Review'].apply(lambda row: extract_top_n_words(row, vectorizer))

In [29]:
final_data.head()

,City,Place,Review,Relevant Review
0,Delhi,Chandni Chowk,dusty crowded chaotic great walk ride rickshaw...,chandni chowk delhi place market food old shop...
1,Delhi,Connaught Place,area good lot eateries available weekends plac...,place connaught delhi shopping shops restauran...
2,Delhi,Delhi Airport Metro Express,convenient journey airport city center option ...,airport metro delhi station express new time w...
3,Delhi,Friday Mosque (Jama Masjid),review little unfair visited ramadan want insi...,mosque masjid delhi place visit shoes old red ...
4,Delhi,Gurudwara Bangla Sahib,delhi way miss visiting place serene magnifice...,gurudwara place sikh sahib bangla delhi visit ...

In [30]:
# Save the final dataset
final_data.to_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/City_Place_Review_RelReview.csv', index=False)

In [31]:
# get bert embeddings on the relevant reviews
import numpy as np
import pandas as pd
from sentence_transformers import SentenceTransformer

# Load the BERT model
model = SentenceTransformer('bert-base-nli-mean-tokens')

# Function to get the embeddings of a sentence
def get_embeddings(sentence):
    return model.encode(sentence)

# Get the embeddings of the relevant reviews
final_data['Relevant Review Embeddings'] = final_data['Relevant Review'].apply(lambda row: get_embeddings(row))

final_data.head()

c:\Users\amilb\anaconda3\envs\pytorch\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,City,Place,Review,Relevant Review,Relevant Review Embeddings
0,Delhi,Chandni Chowk,dusty crowded chaotic great walk ride rickshaw...,chandni chowk delhi place market food old shop...,"[-0.35109305, 0.5998928, 0.29603374, 0.2089950..."
1,Delhi,Connaught Place,area good lot eateries available weekends plac...,place connaught delhi shopping shops restauran...,"[-0.54124635, 0.6402534, 0.5227383, 0.08398863..."
2,Delhi,Delhi Airport Metro Express,convenient journey airport city center option ...,airport metro delhi station express new time w...,"[-1.0627373, 0.13208538, 0.28014302, 0.4796152..."
3,Delhi,Friday Mosque (Jama Masjid),review little unfair visited ramadan want insi...,mosque masjid delhi place visit shoes old red ...,"[-0.40567315, 0.90054667, 0.07965587, 0.101711..."
4,Delhi,Gurudwara Bangla Sahib,delhi way miss visiting place serene magnifice...,gurudwara place sikh sahib bangla delhi visit ...,"[-0.23182143, 0.98891133, 0.96937037, 0.316838..."

In [34]:
# save the final dataset without the reviews
final_data_without_reviews = final_data.drop(['Review'], axis=1)
final_data_without_reviews.to_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/City_Place_RelReview_Embeddings.csv', index=False)

In [41]:
# get a sample user query
user_query = 'food clothes shopping market'

#preprocess the user query
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download the necessary resources  
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

# Function to preprocess the text
def preprocess_text(text):
    # Convert the text to lowercase
    text = text.lower()
    # Remove the special characters
    text = re.sub(r'\W', ' ', text)
    # Remove the digits
    text = re.sub(r'\d', ' ', text)
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text)
    # Remove leading and trailing spaces
    text = text.strip()
    return text

# Function to remove the stopwords
def remove_stopwords(text):
    # Tokenize the text
    words = word_tokenize(text)
    # Remove the stopwords
    words = [word for word in words if word not in stopwords.words('english')]
    return ' '.join(words)  

# Function to lemmatize the text
def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    # Tokenize the text
    words = word_tokenize(text)
    # Lemmatize the text
    words = [lemmatizer.lemmatize(word) for word in words]
    return ' '.join(words)

# Preprocess the user query
user_query = preprocess_text(user_query)

# Remove the stopwords from the user query
user_query = remove_stopwords(user_query)

# Lemmatize the user query
user_query = lemmatize_text(user_query)

print(user_query)

food clothes shopping market

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\amilb\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\amilb\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\amilb\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [107]:
from sklearn.metrics.pairwise import cosine_similarity

# Function to recommend places based on user query and city
def recommend_places(user_query, city, top_n=5):
    # Preprocess user input if necessary
    
    # Compute embeddings for user query
    query_embedding = get_embeddings(user_query)
    
    # Filter data based on city
    city_data = final_data[final_data['City'] == city]
    
    # Calculate similarity between user query and reviews in the specified city
    similarity_scores = cosine_similarity(np.vstack(city_data['Relevant Review Embeddings']), query_embedding.reshape(1, -1))
    
    # Get indices of top recommendations
    top_indices = similarity_scores.flatten().argsort()[::-1][:top_n]
    
    # Get top recommendations
    top_recommendations = city_data.iloc[top_indices]
    
    return top_recommendations

# Example usage
# user_query = "temple with great architecture and peaceful environment"
city = "Mumbai"
recommended_places = recommend_places(user_query, city)
print(recommended_places)

       City                          Place  \
113  Mumbai                         Colaba
124  Mumbai  Sri Sri Radha Gopinath Temple
117  Mumbai                     Juhu Beach
119  Mumbai      Mani Bhavan Gandhi Museum
123  Mumbai            Shree Siddhivinayak

                                                Review  \
113  colaba favourite place mumbai big big big fan ...
124  love visit frequently visited times sunday sun...
117  good visit place mumbai clean kuch safe enjoy ...
119  house gandhi lived amazing museum room featuri...
123  shree siddhivinayak temple morning evening aar...

                                       Relevant Review  \
113  colaba mumbai shopping place gateway street go...
124  temple krishna hare juhu iskcon place visit mu...
117  beach juhu mumbai place food good visit sea cr...
119  gandhi museum life mumbai place visit house hi...
123  temple siddhivinayak mumbai ganesha visit lord...

                            Relevant Review Embeddings  \
113  [-0.508356, 0.58441985, 0.42427376, 0.1647623,...
124  [-0.39303285, 0.6887715, 0.77226835, 0.1556568...
117  [-0.46090642, 0.07696832, 0.91067964, 0.418790...
119  [-0.56735146, 0.72719616, 0.8513013, 0.4727258...
123  [-0.22578186, 0.89431506, 1.1575904, 0.1672211...

     Wheelchair_Accessibility_Score_x  Visual_Accessibility_Score_x
113                               4.0                           5.0
124                               5.0                           4.0
117                               3.0                           3.0
119                               4.0                           5.0
123                               5.0                           4.0

In [46]:
# save a datatbase just with the city, place and relevant review
temp = final_data.drop(['Review', 'Relevant Review Embeddings'], axis=1)
temp.to_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/City_Place_RelReview.csv', index=False)

In [74]:
# taking the accessibilty dataset
accessibility_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/accessibility_scores.csv')

In [75]:
accessibility_data.head()

,City,Place,Wheelchair_Accessibility_Score,Visual_Accessibility_Score
0,Delhi,Chandni Chowk,3,4
1,Delhi,Connaught Place,7,7
2,Delhi,Delhi Airport Metro Express,8,8
3,Delhi,Friday Mosque (Jama Masjid),5,6
4,Delhi,Gurudwara Bangla Sahib,6,7

In [97]:
# put the columns 'Wheelchair_Accessibilty_Score', 'Visual_Accessibilty_Score' from the accessibility dataset to the final dataset by matching places
final_data = pd.merge(final_data, accessibility_data[['Place', 'Wheelchair_Accessibility_Score', 'Visual_Accessibility_Score']], on='Place', how='left')

In [102]:
# dropping Wheelchair_Accessibilty_Score Visual_Accessibilty_Score
final_data = final_data.drop(['Wheelchair_Accessibility_Score_y', 'Visual_Accessibility_Score_y'], axis=1)

In [117]:
final_data.head()

,City,Place,Review,Relevant Review,Relevant Review Embeddings,Wheelchair_Accessibility_Score_x,Visual_Accessibility_Score_x
0,Delhi,Chandni Chowk,dusty crowded chaotic great walk ride rickshaw...,chandni chowk delhi place market food old shop...,"[-0.35109305, 0.5998928, 0.29603374, 0.2089950...",3.0,4.0
1,Delhi,Connaught Place,area good lot eateries available weekends plac...,place connaught delhi shopping shops restauran...,"[-0.54124635, 0.6402534, 0.5227383, 0.08398863...",7.0,7.0
2,Delhi,Delhi Airport Metro Express,convenient journey airport city center option ...,airport metro delhi station express new time w...,"[-1.0627373, 0.13208538, 0.28014302, 0.4796152...",8.0,8.0
3,Delhi,Friday Mosque (Jama Masjid),review little unfair visited ramadan want insi...,mosque masjid delhi place visit shoes old red ...,"[-0.40567315, 0.90054667, 0.07965587, 0.101711...",5.0,6.0
4,Delhi,Gurudwara Bangla Sahib,delhi way miss visiting place serene magnifice...,gurudwara place sikh sahib bangla delhi visit ...,"[-0.23182143, 0.98891133, 0.96937037, 0.316838...",6.0,7.0

In [119]:
# checking the row where Place is 'Colaba'
final_data[final_data['Place'] == 'Colaba']

,City,Place,Review,Relevant Review,Relevant Review Embeddings,Wheelchair_Accessibility_Score_x,Visual_Accessibility_Score_x
113,Mumbai,Colaba,colaba favourite place mumbai big big big fan ...,colaba mumbai shopping place gateway street go...,"[-0.508356, 0.58441985, 0.42427376, 0.1647623,...",4.0,5.0

In [105]:
# save final dataset just with embeddings and accessibilty scores
temp = final_data.drop(['Review', 'Relevant Review'], axis=1)
temp.to_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/City_Place_Embeddings_Accessibility.csv', index=False)

In [ ]:
# save the dataset from pickle
import pickle

# Save the final dataset
with open('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/final_data.pkl', 'wb') as f:
    pickle.dump(temp, f)

In [120]:
temp.head()

,City,Place,Relevant Review Embeddings,Wheelchair_Accessibility_Score_x,Visual_Accessibility_Score_x
0,Delhi,Chandni Chowk,"[-0.35109305, 0.5998928, 0.29603374, 0.2089950...",3.0,4.0
1,Delhi,Connaught Place,"[-0.54124635, 0.6402534, 0.5227383, 0.08398863...",7.0,7.0
2,Delhi,Delhi Airport Metro Express,"[-1.0627373, 0.13208538, 0.28014302, 0.4796152...",8.0,8.0
3,Delhi,Friday Mosque (Jama Masjid),"[-0.40567315, 0.90054667, 0.07965587, 0.101711...",5.0,6.0
4,Delhi,Gurudwara Bangla Sahib,"[-0.23182143, 0.98891133, 0.96937037, 0.316838...",6.0,7.0

In [121]:
final_data = temp

In [125]:
# printing the type of relevant review embeddings
print(type(final_data['Relevant Review Embeddings'][0][0]))

<class 'numpy.float32'>

In [133]:
import pickle
# save it as a pickle file
with open('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/final_data.pkl', 'wb') as f:
    pickle.dump(temp, f)

In [132]:
print(type(temp['Relevant Review Embeddings'][0][0]))
print(type(final_data['Relevant Review Embeddings'][0][0]))

<class 'numpy.float32'>
<class 'str'>

In [126]:
final_data = pd.read_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/City_Place_Embeddings_Accessibility.csv')

In [128]:
# printing the type of relevant review embeddings
print(type(final_data['Relevant Review Embeddings'][0]))

<class 'str'>

In [122]:
user_query = 'food clothes shopping market'
wheelchair_accessibility = True
visual_accessibility = False
city = 'Delhi'

import numpy as np

import numpy as np

def recommend_places(user_query, city, wheelchair_accessibility, visual_accessibility, top_n=5):
    # Assuming the dataset is loaded as `data` and preprocessing functions are defined and imported
    # Preprocess the user query
    user_query = preprocess_text(user_query)
    user_query = remove_stopwords(user_query)
    user_query = lemmatize_text(user_query)

    # Compute embeddings for user query
    query_embedding = get_embeddings(user_query)
    
    # Filter data based on city
    city_data = final_data[final_data['City'].str.lower() == city.lower()]
    
    # Calculate similarity between user query and reviews in the specified city
    embeddings = np.array(city_data['Relevant Review Embeddings'].tolist())
    similarity_scores = cosine_similarity(embeddings, query_embedding.reshape(1, -1)).flatten()
    
    # Normalize the similarity scores to be between 0 and 1
    similarity_scores = (similarity_scores - similarity_scores.min()) / (similarity_scores.max() - similarity_scores.min())
    
    # Calculate combined scores based on accessibility preferences
    city_data = city_data.copy()  # Avoid SettingWithCopyWarning
    city_data['Similarity'] = similarity_scores

    if wheelchair_accessibility:
        city_data['Normalized_Wheelchair_Score'] = city_data['Wheelchair_Accessibility_Score_x'] / 10
    else:
        city_data['Normalized_Wheelchair_Score'] = 0
    
    if visual_accessibility:
        city_data['Normalized_Visual_Score'] = city_data['Visual_Accessibility_Score_x'] / 10
    else:
        city_data['Normalized_Visual_Score'] = 0

    # Calculate the combined score
    city_data['Combined_Score'] = 0.8 * (city_data['Normalized_Wheelchair_Score'] + city_data['Normalized_Visual_Score']) + 0.2 * city_data['Similarity']

    # Sort data by the combined score in descending order
    top_recommendations = city_data.sort_values(by='Combined_Score', ascending=False).head(top_n)
    
    return top_recommendations


# Example usage
city = "Mumbai"
recommended_places = recommend_places(user_query, city, wheelchair_accessibility, visual_accessibility)

In [123]:
print(recommended_places)

       City                          Place  \
122  Mumbai                  Nariman Point
113  Mumbai                         Colaba
120  Mumbai                   Marine Drive
116  Mumbai               Gateway of India
124  Mumbai  Sri Sri Radha Gopinath Temple

                            Relevant Review Embeddings  \
122  [-0.60580826, 0.2806575, 0.8635693, 0.06975888...
113  [-0.508356, 0.58441985, 0.42427376, 0.1647623,...
120  [-0.60414696, -0.21148594, 0.7299203, 0.156407...
116  [-0.5641229, 0.16230346, 1.0503732, 0.11468621...
124  [-0.39303285, 0.6887715, 0.77226835, 0.1556568...

     Wheelchair_Accessibility_Score_x  Visual_Accessibility_Score_x  \
122                               6.0                           5.0
113                               4.0                           5.0
120                               6.0                           4.0
116                               6.0                           5.0
124                               5.0                           4.0

     Similarity  Normalized_Wheelchair_Score  Normalized_Visual_Score  \
122    0.365352                          0.6                        0
113    1.000000                          0.4                        0
120    0.177481                          0.6                        0
116    0.106265                          0.6                        0
124    0.492448                          0.5                        0

     Combined_Score
122        0.553070
113        0.520000
120        0.515496
116        0.501253
124        0.498490

In [118]:
# saving the final dataset
final_data.to_csv('C:/Users/amilb/Desktop/Sem 6/IR/Project/Travall/Final Project/Dataset/Combined_datasets/final_dataset.csv', index=False)